
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

a {
    color: inherit;
    text-decoration: none;
}

.text {
    margin-top: 100px;
    text-align: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: maroon;
    color: white;
    margin: 0;
}

.recipe-list {
    background-color: white;
    margin: 0px auto;
    padding: 20px;
    width: 300px;
    
}